.how-section1 {
    margin-top: -15%;
    padding: 7%;
}

.how-section1 h4 {
    font-weight: bold;
    font-size: 30px;
}

.how-section1 .subheading {
    color: #3931af;
    font-size: 20px;
}

.how-section1 .row {
    margin-top: 5%;
}

.how-img {
    text-align: center;
}

.how-img img {
    width: 40%;
}

.stepwise {
    text-transform: uppercase;
    padding: 0;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    text-shadow: 0 1px 0 #ffffff;
    
    width: auto;
}
.hrbrand{
    border-bottom: 3px double #333;
    width: 140px;
}