.how-section1 h4 {
    font-weight: bold;
    font-size: 30px;
}

.how-section1 .subheading {
    color: #3931af;
    font-size: 20px;
}

.how-section1 .row {
    margin-top: 5%;
}
.tc{
    color: #186ba2;
}
.stepbody{
    width:150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20%;
    padding-left: 4px;
    padding-top: 40%;
    background-color: #186ba2;
}
.stepnumber {
    color: #fff;
    font-size: 72px;
    font-weight: 600;
    text-align: center;
    margin-left: 50px;
}
.slogantext{
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.1rem;
    color: #186ba2;
    font-family: sans-serif;
}
.stepwise {
    text-transform: uppercase;
    padding: 0;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    text-shadow: 0 1px 0 #ffffff;
    
    width: auto;
}
.stepcard{
    border: 2px solid #186ba2;
}
.hrbrand{
    border-bottom: 3px double #186ba2;
    width: 100px;
}
