
/* ==== overwrite bootstrap standard ==== */
@import url('overwrite.css');   

/* =======================================
1. Basic & general
======================================== */

::-moz-selection {
    color: #fff;
    text-shadow: none;
}

::selection {
    color: #fff;
    text-shadow: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Tahoma, Verdana, Sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    color: #666;
    background-color: #ffffff;
}

h1,
h2,
h3,                                                                
h4,
h5,
h6 {
    font-family: 'Roboto Condensed', sans-serif;
        line-height: 1.1em;
    color: #3a3a3a;
    font-weight: 300;
    margin-bottom: 10px;
}
.abel{
    font-family: 'Abel', sans-serif;
    color: #59afe8;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.7;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit;
}

section {
    padding: 120px 0 40px 0;
}


.container {
    padding: 0 20px 0 20px;
}

.row {
    margin-bottom: 40px;
}

.row .row,
.row-fluid .row {
    margin-bottom: 0;
}



/* ==== heading ==== */

.heading {
    text-align: center;
    width: 100%;
}

.heading h3 {
    text-transform: uppercase;
    padding: 0;
    margin: 20px 0 30px 0;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    border-bottom: 3px double #333;
    width: auto;
    display: inline;
}

section.dark .heading h3 {
    color: #fff;
    text-shadow: 0 1px 0 #3a3a3a;
    border-bottom: 3px double #eee;
    width: auto;
    display: inline;


}


/* =======================================
2. Section: Intro
======================================== */


section#intro {
    background: #000 url(../img/bg/bg.svg) 50% 0 no-repeat;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 240px 0 120px;
}

@media (min-width: 1024px) {
    section#intro {
        background-attachment: fixed;
    }
}

section#intro.inner {
    padding: 140px 0 30px;
}

section#intro.inner h2 strong {
    color: #fff;
}

section#intro.inner h2 {
    font-size: 32px;
}


section#intro {
    text-align: center;
}

section#intro i {
    margin-left: 0;
    text-align: center;
}

section#intro h1 {
    color: #fff;
    font-size: 64px;
    font-weight: 700;
}

section#intro h2 {
    color: #ddd;
    font-size: 24px;
}

/* === slogan === */
.slogan i {
    color: #fff;
}


section#intro .inner-heading h2 {
    margin-bottom: -20px;
}

section#intro h4.subtitle {
    font-family: Arial, Tahoma, Verdana, Sans-serif;
    text-transform: none;
    color: #f8f8f8;
}

section#intro p {
    color: #f8f8f8;
}


/* ==== general main content style ==== */
#maincontent.section {
    padding: 30px 0 40px 0;
}




/* ===================== demo purpose ==========================*/

/* demo class */
.demobutton a {
    margin-bottom: 10px;
}

/* demo buttons page */
.demo a.btn {
    margin: 0 10px 10px 0;
}


/* tab */
.nav-tabs {
    margin: 0;
}

.nav-tabs > li > a {
    font-weight: bold;
}

.tab-content {
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px;

}

/* accordion */

.accordion-heading {
    background: #f8f8f8;
}

.accordion-heading a {
    font-weight: bold;
    color: #444;
}

.accordion-heading a:hover {
    text-decoration: none;
}

.accordion-heading {
    border-bottom: 0;
}

.accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
}

.accordion-heading .accordion-toggle i {
    margin-right: 10px;
}

.accordion-heading .active {
    background: #fff;
}


.accordion-toggle {
    cursor: pointer;
}

.accordion-inner {
    padding: 9px 15px;
    border-top: 1px solid #eee;
}

/* Align center */
.aligncenter {
    margin: 0 auto;
    text-align: center;
}

.aligncenter i {
    text-align: center;
}

.aligncenter img,
img.aligncenter {
    margin-bottom: 20px;
}


/* spacer */

.botspacer30 {
    margin-bottom: 30px;
}


/* ==== media screen queries ==== */

@media (min-width: 768px) and (max-width: 979px) {
    .navbar-inner {
        width: 100%;
    }

    #topnav .navbar-inner .container .logo {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .default {
        position: fixed;
        background: #2a2a2a;
        top: 0;
        left: 0;
        width: 100%;
    }

}

@media (max-width: 767px) {

    .navbar-inner {
        width: 100%;
    }

    .navbar-inner .container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .default {
        position: fixed;
        background: #2a2a2a;
        width: 100%;
        padding-right: 20px;
    }

    .fixed {
        position: fixed;
        background: #2a2a2a;
        top: 0;
        left: 0;
        width: 100%;
        padding-right: 20px;
        box-shadow: 0 0 40px #222;
        -webkit-box-shadow: 0 0 40px #222;
        -moz-box-shadow: 0 0 40px #222;
    }

    #topnav .navbar-inner .container .logo {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    div nav ul {
        display: none;
    }

    nav ul li {
        display: none;
    }

    nav select {
        display: block;
        width: 50%;
        float: right;
        margin-bottom: 20px;
        color: #111;
        margin-top: 20px;
        margin-right: 40px;
        line-height: 30px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font-size: 14px;
    }

    nav select a {
        line-height: 1.5em;
    }

    .box {
        margin-bottom: 20px;
    }

    .portfolio-area li {
        margin-right: 20px;
    }

    ul.filter li {
        margin-bottom: 10px;
    }

    .tweet span {
        line-height: 1.5em;
    }

}


@media (max-width: 480px) {


    nav select {
        display: inline-block;
        width: 85%;
        float: none;
        margin: 20px;
        color: #111;
        line-height: 30px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font-size: 14px;
    }

    section#intro {
        padding: 180px 0 20px;
    }



    .section {
        padding: 180px 0 40px 0;
    }

    ul.filter li {
        margin-bottom: 10px;
    }

    .tweet span {
        line-height: 1.5em;
    }
}

